.container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position:relative;
    border: none;
}

body {
    background-color: #44838b;
}

.top{
    max-height: 70px;
    width: 100%;
    display: block; 
    position: fixed;
    display: inline-block;
    overflow: hidden;
    z-index: 10;
}

.logo {
    max-height: 70px;
    width: 7.5%;
    box-sizing: border-box;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.logo img{
    width: auto;
    min-width: 100%;
    min-height: 70px;
    object-fit: cover;
}

.toplinks {
    box-sizing: border-box;
    float: inline;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #44838b;
    height: 70px;
    align-items: center;
  }
  
  li {
    float: left;
    padding-left: 10px;
    padding-top: 9px;
    
  }
  
  li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight:bold;
  }
  
  li a:hover:not(.active) {
    background-color: #548c94;
  }


h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.rocket {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    display:flexbox;
    text-align: center;
    position: relative;
    overflow:auto;
    margin-bottom: 3rem !important;
}

.rocket img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 300;
  }

.flight {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    bottom: 3rem;
}

.flight img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
footer{

}

.linkedin {
    max-height: 40px;
    width: 40px;
    box-sizing: border-box;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 0px;
    align-content: center;
    
}

.linkedin img{

}
.twitter {
    float: right;
    display: flex;
    box-sizing: border-box;
    padding: 8px;
    margin: 7px;
}
